
exportPattern("^[^\\.]")
useDynLib(pairsurv, .registration = TRUE)

importFrom(survival, Surv)
importFrom(survival, survfit)
importFrom(survival, coxph)
importFrom(gdata, lowerTriangle)
importFrom(gdata, upperTriangle)
importFrom(gdata, "upperTriangle<-")
importFrom(MASS, mvrnorm)
importFrom("graphics", "axis", "legend", "lines", "matplot", "par",
           "plot", "points")
importFrom("stats", "na.omit", "pchisq", "pnorm", "var")

S3method(plot, TM)
S3method(plot, TM2)
S3method(summary, TM)
S3method(summary, TM2)
S3method(summary, pairtest)